@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

@layer components {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .space-mono {
    font-family: 'Space-Mono', monospace;
  }
  .font-workbench {
    font-family: 'Workbench', sans-serif;
  }
}

:root {
  --primary: theme('colors.primary');
  --neutral-100: theme('colors.neutral.100');
  --neutral-200: theme('colors.neutral.200');
  --neutral-300: theme('colors.neutral.300');
  --neutral-400: theme('colors.neutral.400');
  --neutral-500: theme('colors.neutral.500');
  --neutral-600: theme('colors.neutral.600');
  --neutral-700: theme('colors.neutral.700');
  --neutral-800: theme('colors.neutral.800');
  --neutral-900: theme('colors.neutral.900');
  --error: theme('colors.error');
  --success: theme('colors.success');

  --gap: theme('spacing.gap');
  --section-padding: theme('spacing.section');
  --container-padding: theme('spacing.container');
  --header-padding: theme('spacing.header');
  --footer-padding: theme('spacing.footer');

  --font-primary: 'Workbench', sans-serif;
  --font-base: theme('fontSize.base');
  --font-h1: theme('fontSize.h1');
  --font-h2: theme('fontSize.h2');
  --font-h3: theme('fontSize.h3');
  --font-h4: theme('fontSize.h4');
  --font-h5: theme('fontSize.h5');

  --font-sans: theme('fontFamily.sans');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Workbench', sans-serif !important;
}

.dark body {
  @apply bg-neutral-800 text-neutral-200;
}

h1, h2, h3, p {
  font-family: var(--font-primary);
}

@layer base {
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
}

@layer utilities {
  .background {
    @apply fixed w-screen h-screen top-0 left-0 bg-[#24a9d6] overflow-hidden;
  }

  .background span {
    @apply absolute rounded-full backface-hidden;
    animation: move linear infinite;
  }

  .background span:nth-child(1) {
    @apply text-[#5daae5];
    top: 47%;
    left: 35%;
    animation-duration: 31s;
    animation-delay: -19s;
    transform-origin: -6vw 14vh;
    box-shadow: -18vmin 0 2.79vmin currentColor;
  }

  .background span:nth-child(2) {
    @apply text-[#adc9ff];
    top: 66%;
    left: 54%;
    animation-duration: 23s;
    animation-delay: -25s;
    transform-origin: 10vw 24vh;
    box-shadow: -18vmin 0 2.34vmin currentColor;
  }

  .background span:nth-child(3) {
    @apply text-[#5daae5];
    top: 6%;
    left: 93%;
    animation-duration: 18s;
    animation-delay: -4s;
    transform-origin: -9vw -9vh;
    box-shadow: 18vmin 0 2.83vmin currentColor;
  }

  .background span:nth-child(4) {
    @apply text-[#5daae5];
    top: 8%;
    left: 79%;
    animation-duration: 22s;
    animation-delay: -21s;
    transform-origin: 18vw -1vh;
    box-shadow: -18vmin 0 2.30vmin currentColor;
  }

  .background span:nth-child(5) {
    @apply text-[#3c7786];
    top: 71%;
    left: 82%;
    animation-duration: 11s;
    animation-delay: -5s;
    transform-origin: 14vw 25vh;
    box-shadow: 18vmin 0 2.28vmin currentColor;
  }

  .background span:nth-child(6) {
    @apply text-[#adc9ff];
    top: 50%;
    left: 3%;
    animation-duration: 21s;
    animation-delay: -25s;
    transform-origin: 15vw -7vh;
    box-shadow: -18vmin 0 3.02vmin currentColor;
  }

  .background span:nth-child(7) {
    @apply text-[#5daae5];
    top: 70%;
    left: 33%;
    animation-duration: 12s;
    animation-delay: -21s;
    transform-origin: 10vw 21vh;
    box-shadow: 18vmin 0 2.44vmin currentColor;
  }
}
